h3 НОВАЯ ФОРМА ДЛЯ СОЗДАНИЯ КАРТРИДЖЕЙ
. id="create_cartridge_for_#{printer_id}_for_order_#{order_id}"
  = simple_form_for CartridgeServiceGuide.new, remote: true, html: { class: "create_cartridge_for_#{printer_id}_for_order_#{order_id}" } do |f|
    = f.input :model, label: 'Модель', input_html: { class: 'rfield' }
    = f.input :toner_life_count, label: 'Ресурс', input_html: { class: 'rfield' }
    = f.input :price, label: 'Цена', input_html: { class: 'rfield' }
    = f.input :color, label: 'Цвет', input_html: { class: 'rfield' }
    = f.input :printer_service_guide_id, input_html: { value: printer_service_guide_id }, as: :hidden
    = hidden_field_tag :shopping_cart_id, shopping_cart_id
    = hidden_field_tag :printer_id, printer_id
    = hidden_field_tag :order_id, order_id
    = f.submit 'Создать', class: 'btn btn-primary disabled'

javascript:
  $("#create_cartridge_for_#{printer_id}_for_order_#{order_id} input.required").on('click keydown', function(){
    console.log('Кликнули')
    empty_strings = []
    $("#create_cartridge_for_#{printer_id}_for_order_#{order_id} input.required").each(function(){
      if ($(this).val().length == 0) {
        empty_strings.push(false)
        $(this).addClass('error_required_field');
      } else {
        $(this).removeClass('error_required_field');
      }
    });
    if (empty_strings.length == 0) {
      $("#create_cartridge_for_#{printer_id}_for_order_#{order_id}").find('[type="submit"]').removeClass('disabled')
    } else {
      $("#create_cartridge_for_#{printer_id}_for_order_#{order_id}").find('[type="submit"]').addClass('disabled')
    }
  });