= render 'printers/new', company_id: shopping_cart.order.customer_id, shopping_cart_id: shopping_cart.id
.printers_search_result id="printers_search_result_#{shopping_cart.id}"
.customers_printers_list
  = render 'printers/printers_list_for_form', printers: shopping_cart.order.customer.printers, shopping_cart_id: shopping_cart.id, order_id: shopping_cart.order_id
