/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require jquery-ui
 */

.icon {
  width: 20px;
}

.mini-icon {
  width: 10px;
}

.hamburger-icon {
  width: 40px;
  float: left;
}

.top-menu {
  margin-left: 40px;
  display: inline-block;
}

td {
  padding: 3px;
}
.message {
  width: 200px;
}

.mini {
  font-size: 10px;
}

.tweet-body {
  width: 250px;
  
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.icon-right {
  float: right;
}

.name {
  width: 150px; 
}

.tweet_name {
  width: 110px;
}

.time {
  text-align: right;
}

.fixed {
  position: fixed;
  z-index: 9999;
  top: 0;
}

.purr {
  position: fixed;
  top: 60px;
  right: 100px;
  width: 500px;
  padding: 20px;
  &.bip-flash-error {
    background-color: red;
  }
  &.bip-flash-success {
    background-color: green;
  }
  border: solid 1px #dadada;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.75);
  &:first-letter {
    text-transform: uppercase
  }
;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.order-items-cell td {
    width: 100%;
}
