/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.icon {
  width: 20px;
}

.mini-icon {
  width: 10px;
}

.hamburger-icon {
  width: 40px;
}

.top-menu {
  margin-left: 40px;
}

td {
  padding: 3px;
}
.message {
  width: 200px;
}

.mini {
  font-size: 10px;
}

.tweet-body {
  width: 250px;
  
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.name {
  width: 150px; 
}

.tweet_name {
  width: 110px;
}

.time {
  text-align: right;
}

.fixed {
    position: fixed;
    z-index: 9999;
    top: 0;
}