.table-orders {
  fieldset { display: table-cell; }
}

.hidden_form {
  display: none;
}

.qnt_input {
  width: 50px;
}

.cancel_printers, .cancel_cartridges {
  float: right;
}

.customers_printers_list {
  width: 80%;
}

tr td.suitable_time {
  border: none;
  padding: unset;
}

.change_customer_btn {
  padding: 0.1rem !important;
  font-size: .7rem !important;
}