.table-orders {
  fieldset { display: table-cell; }
}

.hidden_form {
  display: none;
}

.qnt_input {
  width: 50px;
}

.cancel_printers, .cancel_cartridges {
  float: right;
}

.customers_printers_list {
  width: 80%;
}

tr td.suitable_time {
  border: none;
  padding: unset;
}

.change_customer_btn {
  padding: 0.1rem !important;
  font-size: .7rem !important;
}

@media screen and (min-device-width: 1400px) {
  .new-order-modal-form {
    max-width: 90% !important;
  }
  .new-printer-modal-form {
    max-width: 80% !important;
  }
}

@media handheld {
  .new-order-modal-form {
    max-width: 90% !important;
  }
  .new-printer-modal-form {
    max-width: 80% !important;
  }
}

.error_required_field {
  border-color: #d8512d !important;
}

body.modal-open {
  overflow: visible !important;
}

.order-table-id-cell {
  vertical-align: top;
  color: #fff;
  background-color: #373a3c;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  table.table-orders thead { display: none; }
  table.table-orders tbody td.order_tables_block { 
    display: block; padding: .6rem; 
  }

  table.table-orders tbody td.order_tables_block:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 100%;
    float: left;
    color: #fff;
    background-color: #373a3c;
  }

  table.shopping_cart tbody tr.little_head { display: none; }
  table.shopping_cart tbody tr.little_body:before { 
    content: "* * *"; /* создаём инлайн объект */
    display: block; /* преобразуем его в блочный */
    width: 100%; /* блок займёт по ширине 100% ширины родительского */
    height: 1em; /* высота самого блока */
    text-align: center;
  }
  table.shopping_cart tbody td { 
    display: block;
    padding: .6rem;
  }

  table.shopping_cart tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
  }
}
