.table-orders {
  fieldset { display: table-cell; }
}

.hidden_form {
  display: none;
}

.qnt_input {
  width: 50px;
}

.cancel_printers, .cancel_cartridges {
  float: right;
}

.customers_printers_list {
  width: 80%;
}

tr td.suitable_time {
  border: none;
  padding: unset;
}

.change_customer_btn {
  padding: 0.1rem !important;
  font-size: .7rem !important;
}

@media screen and (min-device-width: 1400px) {
  .new-order-modal-form {
    max-width: 90% !important;
  }
  .new-printer-modal-form {
    max-width: 80% !important;
  }
}

@media handheld {
  .new-order-modal-form {
    max-width: 90% !important;
  }
  .new-printer-modal-form {
    max-width: 80% !important;
  }
}

.error_required_field {
  border-color: #d8512d !important;
}

body.modal-open {
  overflow: visible !important;
}
